.sentence {
    text-align: center;
    left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 30%;
    width: 100%;
    font-size: 42px;
    color: gold;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
}

.bottomnote {
    position: fixed;
    top: 95%;
    left: 0;
    width: 100%;
    font-size: 15px;
    text-decoration: underline;
}

#menuChoice {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

#menuChoice button {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: gold;
    color: #222222;
    text-decoration: unset;
    padding-bottom: 0;

    font-family: 'Teko', sans-serif;
    font-size: 42px;
    border-color: burlywood;
    cursor: pointer;
}

#table {
    display: table;   /* Allow the centering to work */
	margin: 0 auto;
    top: 0;
}